<!DOCTYPE html>
<html>

<head>
    <title>Add Security Event - CyberSentinel</title>
</head>

<body>

    <h1>🛡️ CyberSentinel</h1>

    <h2>Add Security Event</h2>

    <form method="post" action="/add-event">

        <label>Event Type:</label>
        <select name="event_type">

            <option value="LOGIN_FAILED">
                Failed Login
            </option>

            <option value="ACCESS_DENIED">
                Access Denied
            </option>

            <option value="FILE_CHANGE">
                File Change
            </option>

        </select>

        <br><br>

        <label>Source IP:</label>
        <input
            type="text"
            name="source"
            placeholder="192.168.1.10"
            required
        >

        <br><br>

        <label>Username:</label>
        <input
            type="text"
            name="username"
            placeholder="admin"
            required
        >

        <br><br>

        <button type="submit">
            Analyze Event
        </button>

    </form>

    <br>

    <a href="/">
        ← Back to Dashboard
    </a>

</body>

</html>
